* {
    font-family: 'Doppio One', sans-serif;
    color: #8a8a8a !important;

}

body  {
    background-image: url(bg.jpg);
    background-size: 65%;
    background-blend-mode: color;
    background-color: rgba(238, 238, 238, 0.81) !important;
}
h1 {
    color: #59AAA5 !important;
}
h5 {
    color: #f9f9f9 !important;
    font-size: xx-large;

}

footer{
    background-color: rgba(238, 238, 238, 0.81);
}

#logo-font {
    color: #f9f9f9 !important;
    font-size: x-large;
}

.bg-logo{
    background-color: #59AAA5;
}

/* Used on pipes that live between navigation links */
.divider{
    font-weight: lighter;
}

/* Used on header  */
.border-bottom{
    color: #DDDDDD;
    border-width: thick;
}

/* Used on footer border top currently */
.border-top{
    border-top-width: 4px !important;
    border-top-color: #59AAA5 !important;

}

/* Form submit button on Contact page */
.btn-primary{
    color: white !important;
    background-color: #59AAA5;
    border-color: rgb(82, 156, 151);
}

.card-img-overlay{
    opacity: 0.8;
}

.card-title{
    color: black !important;
    opacity: 1;
}